<div class="modal-header">
  <h4 class="modal-title"
      style="font-size: medium">
    {{'title.options.ice.add'|translate}}
  </h4>
  <button type="button" class="btn shadow-none p-0" aria-label="Close" (click)="close()">
    <span aria-hidden="true" style="font-size: large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="p-fluid p-grid">
      <div class="p-md-6 p-col p-d-flex p-flex-column">
        <p-radioButton name="options" class="p-py-2" formControlName="options" value="Không đá" label="Không đá"></p-radioButton>
        <p-radioButton name="options" class="p-py-2" formControlName="options" value="30% đá" label="30% đá"></p-radioButton>
        <p-radioButton name="options" class="p-py-2" formControlName="options" value="50% đá" label="50% đá"></p-radioButton>
      </div>
      <div class="p-md-6 p-col p-d-flex p-flex-column">
        <p-radioButton name="options" class="p-py-2" formControlName="options" value="Làm nóng" label="Làm nóng"></p-radioButton>
        <p-radioButton name="options" class="p-py-2" formControlName="options" value="70% đá" label="70% đá"></p-radioButton>
        <p-radioButton name="options" class="p-py-2" formControlName="options" value="100% đá" label="100% đá"></p-radioButton>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer pr-5">
  <button type="button" class="btn btn-info mr-4" (click)="close()">{{'title.button.cancel' | translate}}</button>
  <button type="button" class="btn btn-danger"
          (click)="processSave()">{{'title.button.save' | translate}}</button>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box">
  <p style="font-size: 20px; color: white">{{'title.loading' | translate}}</p>
</ngx-spinner>
