<div class="modal-header">
  <h4 *ngIf="action" class="modal-title"
      style="font-size: medium">
    {{'title.category.addTitle'|translate}}
  </h4>
  <h4 *ngIf="!action" class="modal-title"
      style="font-size: medium">
    {{'title.category.editTitle'|translate}}
  </h4>
  <button type="button" class="btn shadow-none p-0" aria-label="Close" (click)="close()">
    <span aria-hidden="true" style="font-size: large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="action">
    <form [formGroup]="formSave">
      <div class="p-fluid p-grid">
        <div class="p-md-6 p-col">
              <span class="p-float-label">
                <input id="nameSave"
                       type="text"
                       formControlName="name"
                       class="form-control"
                       pInputText>
                <label for="nameSave" class="required">{{'title.product.name' | translate}}</label>
              </span>
          <small *ngIf="isSubmitted && f['name'].errors?.required"
                 class="p-error text-error p-pl-1">
            {{'title.product.name.required' | translate}}
          </small>
        </div>
        <div class="p-md-6">
          <p>kkjshdfk</p>
        </div>
        <div class="p-md-6 p-col">
          <div class="p-md-12 p-col p-pt-0 p-pl-0">
            <p class="p-mb-0">{{'title.image' | translate}}</p>
            <input type="file" name="img[]" #file class="file"
                   (change)="processSelectFile($event)"
                   accept="image/*">
            <div class="input-group">
              <input type="text" class="form-control"
                     disabled
                     [placeholder]="'title.placeholder.uploadFile' | translate"
                     #inputFile>
              <div class="input-group-append">
                <button type="button" class="browse btn btn-primary"
                        (click)="file.click()">
                  {{'title.button.browse' | translate}}
                </button>
              </div>
            </div>
          </div>
          <div class="p-md-12 p-col p-pl-0">
            <img [src]="pathImage == null ? pathDefault: pathImage" alt=""
                 width="363px" height="200px"
                 class="img-responsive rounded image-resize">
          </div>
        </div>
        <div class="p-md-6 p-col">
          <div class="p-md-12 p-col p-pr-0">
          <span class="p-float-label">
            <textarea id="descriptionSave"
                      class="form-control"
                      formControlName="description"
                      rows="13"
                      cols="30" pInputTextarea>
            </textarea>
            <label for="descriptionSave">{{'title.description' | translate}}</label>
          </span>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="!action">
    <form [formGroup]="formSave">
      <div class="p-fluid p-grid">
        <div class="p-md-6 p-col">
              <span class="p-float-label">
                <input id="name"
                       type="text"
                       formControlName="name"
                       class="form-control"
                       pInputText>
                <label for="name" class="required">{{'title.product.name' | translate}}</label>
              </span>
          <small *ngIf="isSubmitted && f['name'].errors?.required"
                 class="p-error text-error p-pl-1">
            {{'title.product.name.required' | translate}}
          </small>
        </div>
        <div class="p-md-6">
          <p>kkjshdfk</p>
        </div>
        <div class="p-md-6 p-col">
          <div class="p-md-12 p-col p-pt-0 p-pl-0">
            <p class="p-mb-0">{{'title.image' | translate}}</p>
            <input type="file" name="img[]" #file class="file"
                   (change)="processSelectFile($event)"
                   accept="image/*">
            <div class="input-group">
              <input type="text" class="form-control"
                     disabled
                     [placeholder]="'title.placeholder.uploadFile' | translate"
                     #inputFile>
              <div class="input-group-append">
                <button type="button" class="browse btn btn-primary"
                        (click)="file.click()">
                  {{'title.button.browse' | translate}}
                </button>
              </div>
            </div>
          </div>
          <div class="p-md-12 p-col p-pl-0">
            <img [src]="pathImage == null ? pathDefault: pathImage" alt=""
                 width="363px" height="200px"
                 class="img-responsive rounded image-resize">
          </div>
        </div>
        <div class="p-md-6 p-col">
          <div class="p-md-12 p-col p-pr-0">
          <span class="p-float-label">
            <textarea id="description"
                      class="form-control"
                      formControlName="description"
                      rows="13"
                      cols="30" pInputTextarea>
            </textarea>
            <label for="description">{{'title.description' | translate}}</label>
          </span>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</div>
<div class="modal-footer pr-5">
  <button type="button" class="btn btn-info mr-4" (click)="close()">{{'title.button.cancel' | translate}}</button>
  <button type="button" class="btn btn-danger"
          (click)="processSaveOrUpdate()">{{'title.button.save' | translate}}</button>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box">
  <p style="font-size: 20px; color: white">{{'title.loading' | translate}}</p>
</ngx-spinner>
