<div class="modal-header">
  <h4 *ngIf="action" class="modal-title"
      style="font-size: medium">
    {{'title.customer.add'|translate}}
  </h4>
  <h4 *ngIf="!action" class="modal-title"
      style="font-size: medium">
    {{'title.customer.edit'|translate}}
  </h4>
  <button type="button" class="btn shadow-none p-0" aria-label="Close" (click)="close()">
    <span aria-hidden="true" style="font-size: large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="p-fluid p-grid">
      <div class="p-md-6" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                <p-dropdown
                  id="cityName"
                  formControlName="guidCity"
                  [styleClass]="'p-dropdown-custom'"
                  [ngClass]="isSubmitted && f['guidCity'].errors?.required ? 'ng-dirty ng-invalid': ''"
                  [autoDisplayFirst]="false"
                  [options]="lstCity"
                  [optionValue]="'guid'"
                  optionLabel="nameDepartment">
                </p-dropdown>
                <label for="cityName" class="required">{{'title.city.department.name' | translate}}</label>
              </span>
        <small *ngIf="isSubmitted && f['guidCity'].errors?.required"
               class="p-error text-error p-pl-1">
          {{'title.city.department.name.required' | translate}}
        </small>
      </div>
      <div class="p-md-6" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                <input id="name"
                       type="text"
                       formControlName="customerName"
                       [ngClass]="isSubmitted && f['customerName'].errors?.required ? 'ng-dirty ng-invalid': ''"
                       class="form-control"
                       pInputText>
                <label for="name" class="required">{{'title.customer.name' | translate}}</label>
              </span>
        <small *ngIf="isSubmitted && f['customerName'].errors?.required"
               class="p-error text-error p-pl-1">
          {{'title.customer.name.required' | translate}}
        </small>
      </div>
      <div class="p-md-6" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                <input id="tourGuide"
                       type="text"
                       formControlName="tourGuide"
                       [ngClass]="isSubmitted && f['tourGuide'].errors?.required ? 'ng-dirty ng-invalid': ''"
                       class="form-control"
                       pInputText>
                <label for="tourGuide" class="required">{{'title.customer.tourGuide' | translate}}</label>
              </span>
        <small *ngIf="isSubmitted && f['customerName'].errors?.required"
               class="p-error text-error p-pl-1">
          {{'title.customer.tourGuide.required' | translate}}
        </small>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer pr-5">
  <button type="button" class="btn btn-info mr-4" (click)="close()">{{'title.button.cancel' | translate}}</button>
  <button type="button" class="btn btn-danger"
          (click)="processSaveOrUpdate()">{{'title.button.save' | translate}}</button>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box">
  <p style="font-size: 20px; color: white">{{'title.loading' | translate}}</p>
</ngx-spinner>
