a {
  color: #000
}

//body {
//  color: #000;
//  overflow-x: hidden;
//  height: 100%;
//  background-color: #EEEEEE;
//  background-repeat: no-repeat
//}

.card-0 {
  color: #311B92;
  background-color: #fff;
  border-radius: 20px;
  min-height: 352px;
  margin-top: 80px;
  padding: 30px;
  box-shadow: 0px 4px 8px 0px #757575;
}

.card {
  &.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 20px;
  }
  .card1 {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #512DA8;
    height: 100%;
    color: #fff;
    padding-left: 13%;
    padding-right: 13%
  }

  .logo {
    margin-top: 30px;
    margin-left: 15px;
    cursor: pointer
  }

  .card2 {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px
  }



  .carousel-indicators {
    position: absolute;
    bottom: -100px;
    display: -webkit-box !important;

    li {
      cursor: pointer;
      border-radius: 50% !important;
      width: 40px !important;
      height: 40px !important;
      opacity: 0.5;
      margin: 5px !important;

      &.active {
        opacity: 1;
        width: 50px !important;
        height: 50px !important;
        margin-top: 0px !important;
        border: 2px solid #fff;
      }

      &#li1 {
        background: url("https://i.imgur.com/IjkibdE.jpg") !important;
        background-size: cover !important
      }

      &#li2 {
        background: url("https://i.imgur.com/oW8Wpwi.jpg") !important;
        background-size: cover !important
      }

      &#li3 {
        background: url("https://i.imgur.com/EUYNvE1.jpg") !important;
        background-size: cover !important
      }

      &#li4 {
        background: url("https://i.imgur.com/ndQx2Rg.jpg") !important;
        background-size: cover !important
      }

      &#li5 {
        background: url("https://i.imgur.com/gazoShk.jpg") !important;
        background-size: cover !important
      }
    }
  }
  .carousel-inner{
    .profile-pic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px)
    }
    .content {
      color: #000;
      font-size: 14px;
    }
  }
  .social {
    margin-top: 130px;
  }
}
@media screen and (max-width: 991px) {
  .card1 {
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px;
  }

  .card2 {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px
  }
}

