  <div class="container-fluid px-2 px-md-4 py-5 mx-auto">
    <div class="card card0 border-0">
      <div class="row d-flex">
        <div class="col-lg-5">
          <div class="card1 pb-5">
            <div class="row px-3">
              <h5 class="logo"><u>izylearning</u></h5>
            </div>
            <div class="row px-3 justify-content-center mt-4 mb-5">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators"
                      data-slide-to="0" id="li1">
                  </li>
                  <li data-target="#carouselExampleIndicators"
                      data-slide-to="1" id="li2">
                  </li>
                  <li data-target="#carouselExampleIndicators"
                      data-slide-to="2" id="li3" class="active">
                  </li>
                  <li data-target="#carouselExampleIndicators"
                      data-slide-to="3" id="li4">
                  </li>
                  <li data-target="#carouselExampleIndicators"
                      data-slide-to="4" id="li5">
                  </li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item card border-0 card-0">
                    <div class="text-center">
                      <img src="https://i.imgur.com/IjkibdE.jpg"
                           class="img-fluid profile-pic">
                    </div>
                    <h6 class="font-weight-bold mt-5">John Paul</h6>
                    <small class="mb-2">UI/UX Designer</small>
                    <hr width="50%">
                    <p class="content mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      incididunt ut labore et dolore magna aliqua.<br>Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                  <div class="carousel-item card border-0 card-0">
                    <div class="text-center">
                      <img src="https://i.imgur.com/oW8Wpwi.jpg"
                           class="img-fluid profile-pic">
                    </div>
                    <h6 class="font-weight-bold mt-5">Ximena Vegara</h6> <small class="mb-2">UI/UX Designer</small>
                    <hr width="50%">
                    <p class="content mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      incididunt ut labore et dolore magna aliqua.<br>Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                  <div class="carousel-item active card border-0 card-0">
                    <div class="text-center"><img src="https://i.imgur.com/EUYNvE1.jpg" class="img-fluid profile-pic">
                    </div>
                    <h6 class="font-weight-bold mt-5">Lena Maria</h6> <small class="mb-2">Backend Developer</small>
                    <hr width="50%">
                    <p class="content mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      incididunt ut labore et dolore magna aliqua.<br>Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                  <div class="carousel-item card border-0 card-0">
                    <div class="text-center"><img src="https://i.imgur.com/ndQx2Rg.jpg" class="img-fluid profile-pic">
                    </div>
                    <h6 class="font-weight-bold mt-5">Richard Finch</h6> <small class="mb-2">UI/UX Designer</small>
                    <hr width="50%">
                    <p class="content mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      incididunt ut labore et dolore magna aliqua.<br>Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                  <div class="carousel-item card border-0 card-0">
                    <div class="text-center"><img src="https://i.imgur.com/gazoShk.jpg" class="img-fluid profile-pic">
                    </div>
                    <h6 class="font-weight-bold mt-5">Marielle Haag</h6> <small class="mb-2">Backend Developer</small>
                    <hr width="50%">
                    <p class="content mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      incididunt ut labore et dolore magna aliqua.<br>Duis aute irure dolor in reprehenderit in voluptate
                      velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row px-3 text-center justify-content-center mb-0 social">
              <span class="fab fa-facebook-square mx-2"></span>
              <span class="fab fa-twitter mx-2"></span>
              <span class="fab fa-instagram mx-2"></span>
              <span class="fab fa-youtube mx-2"></span>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
         <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
