<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title" style="font-size: medium">Add new Category</h4>
  <button type="button" class="btn shadow-none p-0" aria-label="Close" (click)="close()">
    <span aria-hidden="true" style="font-size: large">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formAdd">
    <div class="form-group">
      <label for="name" class="required">Category Name</label>
      <input type="text"
             class="form-control shadow-none" id="name"
             formControlName="name"
             placeholder="">
      <small *ngIf="f['name'].errors?.required && isSubmitted"
             class="text-danger">Category name is required
      </small>
    </div>
    <div class="row d-flex flex-row">
      <div class="col-md-8">
        <p>Image</p>
        <input type="file" name="img[]" #file class="file"
               (change)="processSelectFile($event)"
               accept="image/*">
        <div class="input-group my-3">
          <input type="text" class="form-control"
                 disabled placeholder="Upload File"
                 #inputFile
                 id="file">
          <div class="input-group-append">
            <button type="button" class="browse btn btn-primary"
                    (click)="file.click()">Browse...
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img [src]="pathImage == null ? pathDefault: pathImage" alt=""
             class="img-thumbnail rounded float-left">
      </div>
    </div>

    <div class="form-group d-flex flex-column">
      <label for="description">Description</label>
      <textarea id="description"
                name="description"
                class="shadow-none form-control"
                formControlName="description"
                style="outline:none"
                rows="4" cols="50">
      </textarea>
    </div>
  </form>
</div>
<div class="modal-footer pr-5">
  <button type="button" class="btn btn-info mr-4" (click)="close()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="processAdd()">Save</button>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
