<kt-portlet>
  <kt-portlet-header [icon]="'pi pi-search'"
                     [title]="'title.search' | translate ">
  </kt-portlet-header>
  <kt-portlet-body>
    <form [formGroup]="formSearch">
      <div class="p-fluid p-grid">
        <div class="p-md-4" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                <input id="cityName"
                       type="text"
                       class="form-control"
                       formControlName="cityName"
                       pInputText>
                <label for="cityName">{{'title.city.name' | translate}}</label>
              </span>
        </div>
        <div class="p-md-4" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                <input id="state"
                       type="text"
                       class="form-control"
                       formControlName="state"
                       pInputText>
                <label for="state">{{'title.city.state' | translate}}</label>
              </span>
        </div>

      </div>
    </form>
    <button type="button" class="btn btn-info"
            (click)="processSearch()">{{'title.button.search' | translate}}</button>
  </kt-portlet-body>
</kt-portlet>

<kt-portlet>
  <kt-portlet-header [icon]="'pi pi-align-justify'"
                     [class]="'d-flex flex-row'"
                     [title]="'title.city.list' | translate ">
    <ng-container ktPortletTools>
      <button class="btn btn-success" (click)="processSave()"
              tooltipPosition="bottom"
              pTooltip="{{'title.button.new' | translate}}">
        <i class="pi pi-plus"></i>
      </button>
      <!--          <button class="btn btn-danger ml-2" (click)="processDelete()"-->
      <!--                  pTooltip="{{'title.button.delete' | translate}}"-->
      <!--                  tooltipPosition="bottom"-->
      <!--                  [disabled]="lstDel.length === 0">-->
      <!--            <i class="pi pi-trash"></i>-->
      <!--          </button>-->
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <p-table #ptable [value]="listCity"
             [paginator]="listCity.length"
             [rows]="5"
             [totalRecords]="total"
             (onLazyLoad)="processSearch($event)"
             dataKey="id"
             [lazy]="true"
             [(selection)]="lstDel"
             styleClass="p-datatable-gridlines">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <!--          <col class="size-1">-->
          <col class="size-1">
          <col class="size-1">
          <col class="size-3">
          <col class="size-3">
          <col class="size-2">
          <col class="size-2">
          <col class="size-2">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">
            {{'title.table.index' | translate}}
          </th>
          <th class="text-center">
            {{'title.action' | translate}}
          </th>
          <th class="text-center">
            {{'title.city.name' | translate}}
          </th>
          <th class="text-center">
            {{'title.city.department.name' | translate}}
          </th>
          <th class="text-center">
            {{'title.city.address' | translate}}
          </th>
          <th class="text-center">
            {{'title.city.state' | translate}}
          </th>
          <th class="text-center">
            {{'title.city.founding' | translate}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"
                   let-item let-index="rowIndex+1">
        <tr>
          <td class="text-center">{{index}}</td>
          <td class="text-center">
            <i class="pi pi-pencil text-primary cursor-pointer"
               (click)="processEdit(item)"
               pTooltip="{{'title.button.edit' | translate}}">
            </i>
            <i class="pi pi-trash text-danger p-ml-3 cursor-pointer"
               (click)="processDelete(item.id)"
               pTooltip="{{'title.button.delete' | translate}}">
            </i>
          </td>
          <td class="text-center">{{item.cityName}}</td>
          <td class="text-center">{{item.nameDepartment}}</td>
          <td class="text-center">{{item.address}}</td>
          <td class="text-center">{{item.state}}</td>
          <td class="text-center">{{item.createdDate | date: 'dd/MM/yyyy'}}</td>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="empty_message">
          <td [attr.colspan]="7" [innerHTML]="'message.noRecords' | translate">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
      </ng-template>
    </p-table>
  </kt-portlet-body>
</kt-portlet>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box">
  <p style="font-size: 20px; color: white">{{'title.loading' | translate}}</p>
</ngx-spinner>
