<button class="btn btn-success p-mb-3" (click)="processSaveOrUpdate()"
        tooltipPosition="bottom"
        pTooltip="{{'title.button.new' | translate}}">
  <i class="pi pi-plus"></i>
</button>


<p-table #ptable [value]="lstCustomerTravel"
         [paginator]="lstCustomerTravel.length"
         [rows]="5"
         [totalRecords]="total"
         (onLazyLoad)="processSearch($event)"
         dataKey="id"
         [lazy]="true"
         [(selection)]="lstDel"
         styleClass="p-datatable-gridlines">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col class="size-1">
      <col class="size-1">
      <col class="size-3">
      <col class="size-2">
      <col class="size-2">
      <col class="size-2">
      <col class="size-2">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center">
        {{'title.table.index' | translate}}
      </th>
      <th class="text-center">
        {{'title.action' | translate}}
      </th>
      <th class="text-center">
        {{'title.customer.name' | translate}}
      </th>
      <th class="text-center">
        {{'title.city.department.name' | translate}}
      </th>
      <th class="text-center">
        {{'title.customer.time' | translate}}
      </th>
      <th class="text-center">
        {{'title.customer.dateOrder' | translate}}
      </th>
      <th class="text-center">
        {{'title.customer.tourGuide' | translate}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"
               let-item let-index="rowIndex+1">
    <tr>
      <td class="text-center">{{index}}</td>
      <td class="text-center">
        <i class="pi pi-pencil text-primary cursor-pointer"
           (click)="processEdit(item)"
           pTooltip="{{'title.button.edit' | translate}}">
        </i>
        <i class="pi pi-trash text-danger p-ml-3 cursor-pointer"
           (click)="processDelete(item.id)"
           pTooltip="{{'title.button.delete' | translate}}">
        </i>
      </td>
      <td class="text-center">{{item.customerName}}</td>
      <td class="text-center">{{item.nameDepartment}}</td>
      <td class="text-center">{{item.time | date : 'dd/MM/yyyy'}}</td>
      <td class="text-center">{{item.dateFirstOrder |date:'dd/MM/yyyy'}}</td>
      <td class="text-center">{{item.tourGuide}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr class="empty_message">
      <td [attr.colspan]="8" [innerHTML]="'message.noRecords' | translate">
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft" let-state>
  </ng-template>
</p-table>
