<kt-portlet>
  <kt-portlet-body>
    <span>product</span>
  </kt-portlet-body>
</kt-portlet>
<kt-portlet>
  <kt-portlet-header [icon]="'pi pi-align-justify'"
                     [class]="'d-flex flex-row'"
                     [title]="'title.product.listProduct' | translate">
    <ng-container ktPortletTools>
      <button class="btn btn-success" routerLink="./add">
        <i class="pi pi-plus" ></i>
      </button>
      <button class="btn btn-danger ml-2" (click)="delete()">
        <i class="pi pi-trash" ></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
  </kt-portlet-body>
</kt-portlet>
