<kt-portlet>
  <kt-portlet-header [icon]="'pi pi-align-justify'"
                     [class]="'d-flex flex-row'"
                     [title]="'title.category.listCategory' | translate ">
    <ng-container ktPortletTools>
      <button class="btn btn-success" (click)="add()"
              tooltipPosition="bottom"
              pTooltip="{{'title.button.new' | translate}}">
        <i class="pi pi-plus"></i>
      </button>
      <button class="btn btn-danger ml-2" (click)="delete()" [disabled]="lstDel.length === 0">
        <i class="pi pi-trash"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <p-table #ptable [value]="listCategories"
             [paginator]="listCategories.length"
             [rows]="5"
             [totalRecords]="total"
             (onLazyLoad)="processSearch($event)"
             dataKey="id"
             [lazy]="true"
             [(selection)]="lstDel"
             styleClass="p-datatable-gridlines">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col class="size-1">
          <col class="size-1">
          <col class="size-3">
          <col class="size-2">
          <col class="size-1">
          <col class="size-2">
          <col class="size-9">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th class="text-center">
            {{'title.table.index' | translate}}
          </th>
          <th class="text-center">
            {{'title.action' | translate}}
          </th>
          <th class="text-center">
            {{'title.table.name' | translate}}
          </th>
          <th class="text-center">
            {{'title.image' | translate}}
          </th>
          <th class="text-center">
            {{'title.status' | translate}}
          </th>
          <th class="text-center">
            {{'title.table.createdDate' | translate}}
          </th>
          <th class="text-center">
            {{'title.table.description' | translate}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"
                   let-item let-index="rowIndex+1">
        <tr>
          <td class="text-center">
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td class="text-center">{{index}}</td>
          <td class="text-center">
            <i class="pi pi-pencil text-primary cursor-pointer"
               (click)="processEdit(item)"
               pTooltip="{{'title.button.edit' | translate}}">
            </i>
          </td>
          <td class="text-center">{{item.name}}</td>
          <td class="text-center">
            <img class="img-responsive image-resize rounded" width="50px" height="50px"
                 [src]="item.urlImg" alt="">
          </td>
          <td class="text-center">
            <div class="circle-status"
                  [style.background]="item.current ? '#5cb85c' : '#edf1f7'">
            </div>
          </td>
          <td class="text-center">{{item.createdDate | date:'dd/MM/yyyy'}}</td>
          <td class="text-center">{{item.description}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="empty_message">
          <td [attr.colspan]="8" [innerHTML]="'message.noRecords' | translate">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
      </ng-template>
    </p-table>
  </kt-portlet-body>
</kt-portlet>
