<kt-portlet>
  <kt-portlet-header [icon]="'pi pi-align-justify'"
                     [class]="'d-flex flex-row'"
                     [title]="'title.category.listCategory' | translate ">
    <ng-container ktPortletTools>
      <button class="btn btn-success" (click)="add()">
        <i class="pi pi-plus" ></i>
      </button>
      <button class="btn btn-danger ml-2" (click)="delete()">
        <i class="pi pi-trash" ></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <p-table #ptable [value]="listCategories"
             dataKey="id"
             [(selection)]="selectedProducts"
             [showCurrentPageReport]="true"
             styleClass="p-datatable-gridlines">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col class="size-1">
          <col class="size-2">
          <col class="size-4">
          <col class="size-6">
          <col class="size-6">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th class="text-center">
            {{'title.table.index' | translate}}
          </th>
          <th class="text-center">
            {{'title.table.name' | translate}}
          </th>
          <th class="text-center">
            {{'title.table.description' | translate}}
          </th>
          <th class="text-center">
            {{'title.table.isCurrent' | translate}}
          </th>
          <th class="text-center">
            {{'title.table.createdDate' | translate}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex+1">
        <tr>
          <td class="text-center">
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td class="text-center">{{index}}</td>
          <td class="text-center">{{item.name}}</td>
          <td class="text-center">{{item.description}}</td>
          <td class="text-center">{{item.current}}</td>
          <td class="text-center">{{item.createdDate | date:'dd/MM/yyyy'}}</td>
        </tr>
      </ng-template>
      <!--      <ng-template pTemplate="summary">-->
      <!--        <div class="p-d-flex p-ai-center p-jc-between">-->
      <!--          In total there are {{listCategories ? listCategories.length : 0 }} Category.-->
      <!--        </div>-->
      <!--      </ng-template>-->
    </p-table>
  </kt-portlet-body>
</kt-portlet>
