<kt-portlet>
  <kt-portlet-header [icon]="'pi pi-search'"
                     [title]="'title.search' | translate ">
  </kt-portlet-header>
  <kt-portlet-body>
    <form [formGroup]="formSearch">
      <div class="p-fluid p-grid">
        <div class="p-md-4" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                <input id="customerName"
                       type="text"
                       class="form-control"
                       formControlName="customerName"
                       pInputText>
                <label for="customerName">{{'title.customer.name' | translate}}</label>
              </span>
        </div>
        <div class="p-md-4" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                <input id="nameDepartment"
                       type="text"
                       class="form-control"
                       formControlName="nameDepartment"
                       pInputText>
                <label for="nameDepartment">{{'title.city.department.name' | translate}}</label>
              </span>
        </div>
        <div class="p-md-4" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                <input id="postalAddress"
                       type="text"
                       class="form-control"
                       formControlName="postalAddress"
                       pInputText>
                <label for="nameDepartment">{{'title.customer.postal.name' | translate}}</label>
              </span>
        </div>
        <div class="p-md-4" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                <input id="tourGuide"
                       type="text"
                       class="form-control"
                       formControlName="tourGuide"
                       pInputText>
                <label for="nameDepartment">{{'title.customer.tourGuide' | translate}}</label>
              </span>
        </div>

      </div>
    </form>
    <button type="button" class="btn btn-info"
            (click)="processSearch()">{{'title.button.search' | translate}}</button>
  </kt-portlet-body>
</kt-portlet>

<kt-portlet>
  <kt-portlet-header [icon]="'pi pi-align-justify'"
                     [class]="'d-flex flex-row'"
                     [title]="'title.customer.list' | translate ">
<!--    <ng-container ktPortletTools>-->
<!--      <button class="btn btn-success" (click)="processSave()"-->
<!--              tooltipPosition="bottom"-->
<!--              pTooltip="{{'title.button.new' | translate}}">-->
<!--        <i class="pi pi-plus"></i>-->
<!--      </button>-->
<!--      <button class="btn btn-danger ml-2" (click)="processDelete()"-->
<!--              pTooltip="{{'title.button.delete' | translate}}"-->
<!--              tooltipPosition="bottom"-->
<!--              [disabled]="lstDel.length === 0">-->
<!--        <i class="pi pi-trash"></i>-->
<!--      </button>-->
<!--    </ng-container>-->
  </kt-portlet-header>
  <kt-portlet-body>
    <p-tabView>
      <p-tabPanel header="{{'title.customer.travel' |translate}}">
        <ngx-customer-travel [dataSearch]="formSearch"></ngx-customer-travel>
      </p-tabPanel>
      <p-tabPanel header="{{'title.customer.postal' |translate}}">
        <ngx-customer-postal></ngx-customer-postal>
      </p-tabPanel>
    </p-tabView>
  </kt-portlet-body>
</kt-portlet>
