<kt-portlet>
  <kt-portlet-header [title]="'title.order.detail' | translate ">
    <ng-container ktPortletIcon>
      <button class="btn"
              routerLink="/pages/order"
              style="background: transparent !important;">
        <i class="pi pi-arrow-left"></i>
      </button>
    </ng-container>
    <ng-container ktPortletTools>
      <button class="btn btn-success" (click)="processSave()"
              tooltipPosition="bottom"
              pTooltip="{{'title.button.new' | translate}}">
        <i class="pi pi-plus"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
<!--    <div class="p-fluid p-grid">-->
<!--      <div class="p-md-3" style="padding: 1rem 0.5rem  !important;">-->
<!--        <p>Tên sản phẩm</p>-->
<!--      </div>-->
<!--      <div class="p-md-3" style="padding: 1rem 0.5rem  !important;">-->
<!--        <p>Giá sản phẩm</p>-->
<!--      </div>-->
<!--      <div class="p-md-3" style="padding: 1rem 0.5rem  !important;">-->
<!--        <p>Số lượng</p>-->
<!--      </div>-->
<!--      <div class="p-md-3" style="padding: 1rem 0.5rem  !important;">-->
<!--        <p>Thành tiền</p>-->
<!--      </div>-->
<!--    </div>-->

    <p-table #ptable [value]="listOrderDetails"
             (onLazyLoad)="processSearch($event)"
             dataKey="id"
             [lazy]="true"
             styleClass="p-datatable-gridlines">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col class="size-1">
          <col class="size-3">
          <col class="size-1">
          <col class="size-1">
          <col class="size-2">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">
            {{'title.table.index' | translate}}
          </th>
          <th class="text-center">
            {{'title.action' | translate}}
          </th>
          <th class="text-center">
            {{'title.product.name' | translate}}
          </th>
          <th class="text-center">
            {{'title.price' | translate}}
          </th>
          <th class="text-center">
            {{'title.quantity' | translate}}
          </th>
          <th class="text-center">
            {{'title.money' | translate}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"
                   let-item let-index="rowIndex+1">
        <tr>
          <td class="text-center">{{index}}</td>
          <td class="text-center">
            <i class="pi pi-trash text-danger p-ml-3 cursor-pointer"
               (click)="processDelete(item.id)"
               pTooltip="{{'title.button.delete' | translate}}">
            </i>
          </td>
          <td class="text-center">{{item.nameProduct}}</td>
          <td class="text-center">{{item.priceProduct}}</td>
          <td class="text-center">{{item.quantity}}</td>
          <td class="text-center">{{item.price}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="empty_message">
          <td [attr.colspan]="6" [innerHTML]="'message.noRecords' | translate">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
      </ng-template>
    </p-table>
  </kt-portlet-body>
</kt-portlet>
